.filter {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/filter.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.filter:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/filter.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.filterRemove {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/filter-delete.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	/* padding: 0.7em 1em;*/
	margin-top: 5px !important;
	 }
	 
.filterRemove:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/filter-delete.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.deleteFollow {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/basura.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.deleteFollow:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/basura.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.removeFilter {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/filter-delete.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.removeFilter:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/filter-delete.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }

.investor-factor {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/administrator-48.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.investor-factor:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/administrator-48.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.getContacts {
	 background-image: url('http://www.reifax.com/img/ximaicon/user_green.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.getContacts:hover{
	 background-image: url('http://www.reifax.com/img/ximaicon/user_green.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }	 
	
	
.sendContract {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/send-contract.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.sendContract:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/send-contract.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }	 

.sendEmail {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/send-mail.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.sendEmail:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/send-mail.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.sendSMS {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/send-sms.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.sendSMS:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/send-sms.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }	 

.sendFax {
	 background-image: url('http://reifax.com/FollowupReifax/img/menu/send-fax.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.sendFax:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/send-fax.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }

.makeCall {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/call.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 margin-top: 5px !important;
	 }
	 
.makeCall:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/call.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.deleteContacts {
	 background-image: url('http://www.reifax.com/img/myemail/deleteEmail.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.deleteContacts:hover{
	 background-image: url('http://www.reifax.com/img/myemail/deleteEmail.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.addContacts {
	 background-image: url('http://www.reifax.com/img/add.gif');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 } 
.addContacts:hover{
	 background-image: url('http://www.reifax.com/img/add.gif');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.editContacts {
	 background-image: url('http://www.reifax.com/img/toolbar/update.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.editContacts:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/update.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }	 
.blockContacts {
	 background-image: url('http://www.reifax.com/img/toolbar/block.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.blockContacts:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/block.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }	 
.assignContEmailInbox {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/person-plus.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.assignContEmailInbox:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/person-plus.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.assignProEmailInbox {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/casa-plus.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.assignProEmailInbox:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/casa-plus.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.reply {
	 background-image: url('http://www.reifax.com/img/myemail/responder.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.reply:hover{
	 background-image: url('http://www.reifax.com/img/myemail/responder.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.forward {
	 background-image: url('http://www.reifax.com/img/myemail/reenviar.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.forward:hover{
	 background-image: url('http://www.reifax.com/img/myemail/reenviar.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.newschedule {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/new_schedule.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.newschedule:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/new_schedule.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.get-contact {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/get_contact2.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.get-contact:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/menu/get_contact2.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.upload-icon {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/upload-48.png');
	 background-repeat:no-repeat;
	 background-size: 10px 10px;
	 }
	 
.upload-icon:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/upload-48.png');
	 background-repeat:no-repeat;
	 background-size: 10px 10px;
	 }
.file-icon {
	 background-image: url('http://www.reifax.com/FollowupReifax/img/add-file-48.png');
	 background-repeat:no-repeat;
	 background-size: 10px 10px;
	 }
	 
.file-icon:hover{
	 background-image: url('http://www.reifax.com/FollowupReifax/img/add.file-48.png');
	 background-repeat:no-repeat;
	 background-size: 10px 10px;
	 }

	 